Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.

[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [3]:
t= [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [4]:
t

[('Sachin Tendulkar', 34357),
 ('Ricky Ponting', 27483),
 ('Jack Kallis', 25534),
 ('Virat Kohli', 24936)]

In [11]:
#sorted() function
result = sorted(t,key = lambda x: x[1])
result

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

#sort method
t.sort(key = lambda x: x[1])
t

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(map(lambda x: x**2,l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions

Given list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [20]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
tuple(list(map(lambda x: str(x), l)))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

In [32]:
from functools import reduce
l=[]
for i in range(1,26):
    l.append(i)
reduce(lambda x, y: x*y,l)

15511210043330985984000000

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.

[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [58]:
l = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [57]:
list(filter(lambda x: (x%2==0) and (x%3==0) ,l))

[6, 60, 90, 120]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.

['python', 'php', 'aba', 'radar', 'level']

In [61]:
l1 = ['python', 'php', 'aba', 'radar', 'level']
list(filter(lambda x :(x==x[::-1]),l1))

['php', 'aba', 'radar', 'level']