Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans:
    
Database: A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system(DBMS).

SQL(Structured Query Language): 

1. Type: SQL databases are primarily called as Relational Databases(RDBMS)
2. Language: SQL requires you to use predefined schemas to determine the structure of your data before you work with it. Also all of your data must follow the same structure. This can require significant up-front preparation which means that a change in the structure would be both difficult and disruptive to your whole system. 
3. Scalability: SQL databases are vertically scalable. This means that you can increase the load on a single server by increasing things like RAM, CPU or SSD. 
4. Structure: SQL databases are table-based.
5. Property followed: SQL databases follow ACID properties(Atomicity, Consistency, Isolation, and Durability)
6. Support: Great support is available for all SQL database from their vendors. Also a lot of independent consultations are there who can help you with SQL database for a very large scale deployments.

NoSQL(Not only Structured Query Language): 

1. Type: NoSQL database are primarily called as non-relational or distributed database.
2. Language: A NoSQL database has dynamic schema for unstructured data.Data is stored in many ways which means it can be document-oriented, column-oriented, graph-based or organized as a KeyValue store. This flexibility means that documents can be created without having defined structure first. 
3. Scalability: NoSQL databases are horizontally scalable. This means that you handle more traffic by sharding, or adding more servers in your NoSQL database. Thus NoSQL can ultimately become larger and more powerful, making these databases the preferred choice for large or ever-changing data sets.
4. Structure: NoSQL databases are either key-value pairs, document-based, graph databases or wide-column stores.
5. Property followed: NoSQL follows the Brewers CAP theorem(Consistency, Availabilty and Partition tolerance)
6. Support: NoSQL database you still have to rely on community support and only limited outside experts are available for setting up and deploying your large scale NoSQL deployments.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans:
    
DDL(Data Definition Language):
    It is considered to be a subset of SQL. A data definition language (DDL) is a computer language used to create and modify the structure of database objects in a database. These database objects include views, schemas, tables, indexes, etc.
    
Commonly used DDL in SQL querying are CREATE, ALTER, DROP, and TRUNCATE.

Create:

CREATE TABLE [table name] ([column definitions]) [table parameters];

For example:

CREATE TABLE Employee (Employee Id INTEGER PRIMARY KEY, First name CHAR (50) NULL, Last name CHAR (75) NOT NULL);

The mandatory semi-colon at the end of the statement is used to process every command before it. In this example, the string CHAR is used to specify the data type. Other data types can be DATE, NUMBER, or INTEGER.

Alter:

Alter
An alter command modifies an existing database table. This command can add up additional column, drop existing columns and even change the data type of columns involved in a database table.

An alter command syntax is:

ALTER object type object name parameters;

For example:

ALTER TABLE Employee ADD PRIMARY KEY (employee_pk);

In this example, we added a unique primary key to the table to add a constraint and enforce a unique value. The constraint “employee_pk” is a primary key and is on the Employee table.

Drop:

A drop command is used to delete objects such as a table, index or view. A DROP statement cannot be rolled back, so once an object is destroyed, there’s no way to recover it.

Drop statement syntax is:

DROP object type object name;

For example:

DROP TABLE Employee;

In this example, we’re deleting the Employee table.

Truncate:

Similar to DROP, the TRUNCATE statement is used to quickly remove all records from a table. However, unlike DROP that completely destroys a table, TRUNCATE preserves its full structure to be reused later.

Truncate statement syntax is:

TRUNCATE TABLE table_name;

For example:

TRUNCATE TABLE Employee;

In this example, we’re marking all the extents of the Employee table for deallocation, so they’re considered empty for reuse.

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans:
    
DML: A data manipulation language (DML) is a family of computer languages including commands permitting users to manipulate data in a database. This manipulation involves inserting data into database tables, retrieving existing data, deleting data from existing tables and modifying existing data. DML is mostly incorporated in SQL databases.

The functional capability of DML is organized in manipulation commands like SELECT, UPDATE, INSERT INTO and DELETE FROM, as described below:


UPDATE: This command modifies data of one or more records. An update command syntax is UPDATE [table name] SET [column name = value] where [condition].

Example: UPDATE Student SET Phone = 9039462901 WHERE Stu_Name = ’Phoebe’;

INSERT: This command adds one or more records to a database table. The insert command syntax is INSERT INTO [table name] [column(s)] VALUES [value(s)].

Example: INSERT INTO Student(Stu_Name, DOB, Phone, Mail) VALUES(‘Phoebe’, ‘1998-05-26’, 7812865845, ‘user@xyz.com’);

DELETE: This command removes one or more records from a table according to specified conditions. Delete command syntax is DELETE FROM [table name] where [condition].

Example: DELETE FROM Student WHERE Stu_Name = ’Phoebe’;

Q4. What is DQL? Explain SELECT with an example.

Ans:
    
DQL statements are used for performing queries on the data within schema objects. 
The purpose of the DQL Command is to get some schema relation based on the query passed to it. 
We can define DQL as follows it is a component of SQL statement that allows getting data from the database and imposing order upon it. It includes the SELECT statement. 
This command allows getting the data out of the database to perform operations with it. 
When a SELECT is fired against a table or tables the result is compiled into a further temporary table, which is displayed or perhaps received by the program i.e. a front-end.

List of DQL: 

SELECT: It is used to retrieve data from the database.

Example: Select * from Employee_table;

Q5. Explain Primary Key and Foreign Key.

Ans:
    
Primary Key: A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence. 

Foreign Key: A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [2]:
import mysql.connector

mydb = mysql.connector.connect(host = "localhost",
                               user = "root",
                               password = "A$ha2008")

print(mydb)

mydb.close()

<mysql.connector.connection.MySQLConnection object at 0x7f8d4959c790>

cursor(): The MySQLCursor of mysql-connector-python (and similar libraries) is used to execute statements to communicate with the MySQL database.

Using the methods of it you can execute SQL statements, fetch data from the result sets, call procedures.
    
execute(): It is one of the method provided by Cursor class/object.
This method accepts a MySQL query as a parameter and executes the given query.

Q7. Give the order of execution of SQL clauses in an SQL query.

Ans:

The SQL order of execution defines the order in which the clauses of a query are evaluated. Understanding query order can help us to optimize our queries.
    
1. from - Choose and join tables to get base data.
2. where - Filters the base data.
3. group by - Aggregates the base data.
4. having - Filters teh aggregated data.
5. select - Returns the final data.
6. order by - Sorts the final data.
7. limit - Limits the returned data to a row count