In [2]:
# 1. Write a program to accept percentage from the user and display the grade according to the following criteria:

# Marks            Grade
   
# >90               A
    
# >80 and <=90      B

# >=60 and <=80     C

# below 60          D

In [1]:
def stu_grades(marks):
    if marks > 90:
        return "A"
    elif 80< marks <=90:
        return "B"
    elif 60<= marks <=80:
        return "C"
    else:
        return "D"

marks = int(input("Enter the marks: "))
stu_grades(marks)

Enter the marks: 100

'A'

In [3]:
# 2. Write a program to accept the cost price of a bike and display the road tax to be paid according to the following criteria:
#     Tax      Cost Price(in Rs)
#     15%       >100000
#     10%       >50000 and <=100000
#     5%        <=50000

In [19]:
def display_tax(price):
    if price > 100000:
        return "The tax to be paid is 15%"
    elif 50000< price <=100000:
        return "The tax to be paid is 10%"
    elif price <= 50000:
        return "The tax to be paid is 5%"
    else:
        return "Enter the correct amount"
        
bike_price = int(input("Enter the price of the bike: "))
display_tax(bike_price)

Enter the price of the bike: 1050000

'The tax to be paid is 15%'

In [ ]:
# 3. Accept any city from the user and display monuments of that city.
#     City     Monument
#     Delhi    Red Fort
#     Agra     Taj Mahal
#     Jaipur   Jal Mahal

In [18]:
def display_city(city):
    if city == "Delhi" or city == "delhi":
        return "Red Fort"
    elif city == "Agra" or city == "agra":
        return "Taj Mahal"
    elif city == "Jaipur" or city == "jaipur":
        return "Jal Mahal"
    else:
        return "Enter the city name given in the table"
    
city = input("Enter the city name: ")

display_city(city)

Enter the city name: jaipur

'Jal Mahal'

In [ ]:
# 4. Check how many times a given number can be divided by 3 before it is less than or equal to 10.

In [32]:
number = int(input("Enter the number: "))
count =0
while number>10:
    number = number/3
    count +=1

print("The number will be divided {} times".format(count))

Enter the number: 300
The number will be divided 4 times

5. Why and when to use while loop in python. Give a detailed description with example.

Ans:

    When the number of iterations are not known and certain conditions are met then we use while loop in python.

In [33]:
#Example 
total_amount = 1000
while total_amount != 0:
    print(total_amount)
    total_amount -= 100
else:
    print("Put more money into teh account")

1000
900
800
700
600
500
400
300
200
100
Put more money into teh account

In [ ]:
# 6. Use nested while loop to print 3 different pattern.

In [47]:
rows = int(input("Enter the number of rows: "))
i = 1
while i <= rows:
    j = 1
    while j <= i:
        print(i,end =' ')
        j += 1
    i += 1
    print('')

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [56]:
i = int(input("Enter the number of rows: "))
while i >= 0:
    j = 0
    while j < i:
        print('', end=' ')
        j += 1
    k = i
    while k <= rows - 1:
        print('*', end=' ')
        k += 1
    print('')
    i -= 1

Enter the number of rows: 5

    *
   * *
  * * *
 * * * *
* * * * *

In [57]:
i = int(input("Enter the number of rows: "))
while i >= 0:
    j = 0
    while j < i:
        print('*', end=' ')
        j += 1
    k = i
    while k <= rows - 1:
        print('_', end=' ')
        k += 1
    print('')
    i -= 1

Enter the number of rows: 5
* * * * *
* * * * _
* * * _ _
* * _ _ _
* _ _ _ _
_ _ _ _ _

In [ ]:
# 7. Reverse a while loop to display numbers from 10 to 1

In [42]:
i=1
n=10
while n>=i:
    print(n)
    n -= 1

10
9
8
7
6
5
4
3
2
1

In [ ]:
# 8. Reverse a while loop to display numbers from 10 to 1
# Ans: Repeated question