Q1. Create a list in python using the followings: 2,3,4,5,6,7 with variable ‘a’

Add ‘mango to the above list

Also add banana, grapes & orange in the list

insert apple in the 5th position of a variable ‘a’

Remove last item from the list

In [1]:
a = [2,3,4,5,6,7]

In [2]:
a

[2, 3, 4, 5, 6, 7]

In [3]:
a.append("mango")

In [4]:
a

[2, 3, 4, 5, 6, 7, 'mango']

In [9]:
a.extend(["banana", "grapes", "orange"])

In [15]:
a

[2, 3, 4, 5, 6, 7, 'mango', 'banana', 'grapes', 'orange']

In [16]:
a.insert(4,"apple")

In [17]:
a

[2, 3, 4, 5, 'apple', 6, 7, 'mango', 'banana', 'grapes', 'orange']

In [18]:
a.pop()

'orange'

In [19]:
a

[2, 3, 4, 5, 'apple', 6, 7, 'mango', 'banana', 'grapes']

Q2.

L = [1,2,3,4,5,6,7]

Using the above list slice from 1:4

In [20]:
l = [1,2,3,4,5,6,7]
l[1:4]

[2, 3, 4]

Q3. Reverse the order of given string L = [4,5,6,8,3] Without using reverse() function.

In [21]:
l = [4,5,6,8,3]
l[::-1]

[3, 8, 6, 5, 4]

Q4. Use list comprehension to square the given list L=[2,4,7,3,6,8]

In [22]:
l = [2,3,7,3,6,8]
[i**2 for i in l]

[4, 9, 49, 9, 36, 64]

Q5. Create a function that takes in a tuple of integers and returns the sum of the integers. Test the function with a tuple of your choice.

In [28]:
def t_sum(t):
    sum = 0
    for i in t:
        if type(i) == int:
            sum += i
    return sum

t = (1,2,3,4,5)
t_sum(t)

15

Q6. Create two sets of your favourite fruits, and use the union() method to combine them into a single set.
Print the resulting set to the console.

In [33]:
s1 = {"apple","mango","orange"}
s2 = {"kiwi", "peach", "orange"}
result = s1.union(s2)
result

{'apple', 'kiwi', 'mango', 'orange', 'peach'}

Q7. Create a set of random words, and use the add() method to add a new word to the set. Print the
resulting set to the console.

In [35]:
s = {"set of", "words"}
s

{'set of', 'words'}

In [40]:
s.add(" pwskills")

In [41]:
s

{' pwskills', 'newset', 'set of', 'words'}

Q8. Create a set of your favourite animals, and use the remove() method to remove one animal from the
set. Print the resulting set to the console.

In [42]:
animals = {"Dog", "Camel", "Fox", "Wolf"}

In [43]:
animals

{'Camel', 'Dog', 'Fox', 'Wolf'}

In [44]:
animals.remove("Dog")

In [45]:
animals

{'Camel', 'Fox', 'Wolf'}

Q9. favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}

favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]

Use the zip() function to combine the book set and movie list into a list of tuples representing book/
movie pairs. Print the resulting list.

In [49]:
favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]
result = list(zip(favorite_books, favorite_movies))
result

[('Pride and Prejudice', 'The Shawshank Redemption'),
 ('To Kill a Mockingbird', 'The Godfather'),
 ('1984', 'The Dark Knight')]

Q10. Write a Python program to find the difference between consecutive numbers in a list.

In [67]:
def diff_consecutive(l):
    res = []
    for i in range(len(l)-1):
        res.append(l[i+1] - l[i])
    return res

l = [5,9,5,9,8,6]
diff_consecutive(l)

[4, -4, 4, -1, -2]